.Bottom-Footer {
	position: relative;
	bottom: 0;
	left: 0;
	background-color: #304a76;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Top-Footer {
	position: sticky;
	bottom: -1;
	left: 0;
	padding: 35px;
	background-color: #365486;
	width: 100%;
	flex-direction: row !important;
	justify-content: center;
	color: white;
	font-size: 20px;
	gap: 20px;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #365486;
}

.background {
	position: relative;
	width: 100%;
	background-image: url("../../../public/navbackground2.png");
	background-repeat: repeat;
	background-size: auto;
}

.background-image {
	opacity: 0.5;
}

.nav-content {
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 20px;
}

.logo {
	margin-left: 150px;
}

@media screen and (max-width: 768px) {
	.logo {
		margin-left: 100px;
	}
}

@media screen and (max-width: 576px) {
	.logo {
		margin-left: 50px;
	}
}

.slogan {
	background: #365486;
	color: white;
	padding: 1px;
	padding-right: 20px;
	border-radius: 5px;
	margin-right: 15px;
}

.slogan h2,
.slogan p {
	margin: 0;
}

.Simple {
	color: #7fc7d9;
	font-size: 35px;
}

.Flavor {
	color: white;
	font-size: 22px;
}

.bottom-nav {
	width: 100%;
	position: static;
	/* or remove the position property */
	top: 1;
	/* This should be removed */
	left: 0;
	/* This should be removed */
	background-color: #7fc7d9;
	padding-bottom: 20px;
	padding-top: 15px;
}

.nav-btm-content {
	color: white;
	display: flex !important;
	flex-direction: row;
	align-items: center;
	font-size: 22px;
	color: #365486;
	gap: 65px;
	display: inline-block;
	padding-top: 8px;

	@media screen and (max-width: 767px) {
		gap: 10px;
		padding-top: 20px;
	}
}

.nav-btm-content h2 {
	margin-right: 10px;
}

.login-box {
	background-color: #5a8daf;
	padding: 5px 5px;
	position: relative;
	/* Change position to relative */
	/* top: 203px; */
	border-radius: 10px;
	margin-left: 1200px;
	/* Initial margin */

	@media screen and (max-width: 1800px) {
		margin-left: 10px;
		/* Adjust margin for smaller screens */
	}

	@media screen and (max-width: 1600px) {
		margin-left: 100px;
		/* Adjust margin for smaller screens */
	}

	@media screen and (max-width: 1400px) {
		margin-left: 50px;
		/* Adjust margin for smaller screens */
	}

	/* Adjust position for smaller screens */
	@media screen and (max-width: 1200px) {
		margin-left: 50px;
		/* Adjust margin for smaller screens */
	}

	/* Adjust position for even smaller screens */
	@media screen and (max-width: 576px) {
		margin-left: 20px;
		/* Further adjust margin for smaller screens */
	}
}

.login-box img {
	display: inline-block;
	width: 35px;
	height: 40px;
	margin-right: 5px;
}

.login-box span {
	color: white;
}

.Home {
	padding-left: 175px;

	@media screen and (max-width: 767px) {
		padding-left: 20px;
	}
}

.contact {
	padding-top: 200px;
}

.login {
	margin-top: -50px;
	color: white;
	padding-bottom: 50px;
	opacity: 0;
}

.logo2 {
	margin-bottom: 0px;
	margin-left: 240px;
}

.custom-link {
	color: blue;

	font-weight: bold;
}

.custom-container {
	background-color: #ccc;

	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	width: 665px;
	min-height: 400px;

	position: relative;
	padding-bottom: 150px !important;
}

.login {
	color: #333;
}

.logo-container {
	text-align: center;
	margin-bottom: 50px;
}

.custom-input {
	width: 541px;
	padding: 10px;
	margin: 5px auto;
	border: 1px solid #365486;
	border-radius: 0;
	background-color: #bebebe;

	color: black;

	text-align: left;
}

.custom-button {
	width: 541px;
	padding: 1px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;

	font-weight: bold;

	cursor: pointer;
	font-size: 25px;
}

.custom-button:hover {
	background-color: #004080;
}

.custom-container {
	margin-bottom: 50px;
}

.blue {
	font-size: 35px;
	color: #365486;
	font-weight: bold;
	margin-top: -15px;
}

.custom-label {
	text-align: left;
	padding-left: 40px;
}

.check-box {
	display: flex;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 0;
}

.custom-checkbox {
	margin-right: 1px;
}

.data {
	margin-left: -75px;
}

.custom-input2 {
	padding: 10px;
	margin: 5px;
}

.Bottom-Footer {
	position: relative;
	bottom: 0;
	left: 0;
	background-color: #304a76;
	color: white;
	padding: 20px;
	text-align: center;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.Top-Footer {
	position: sticky;
	bottom: -1;
	left: 0;
	padding: 35px;
	background-color: #365486;
	width: 100%;
	flex-direction: row !important;
	justify-content: center;
	color: white;
	font-size: 20px;
	gap: 20px;
}

.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: #365486;
}

.background {
	position: relative;
	width: 100%;
	background-image: url("../../../public/navbackground2.png");
	background-repeat: repeat;
	background-size: auto;
}

.background-image {
	opacity: 0.5;
}

.nav-content {
	display: flex;
	align-items: center;
	padding: 20px;
	font-size: 20px;
}

.logo {
	margin-left: 150px;
}

@media screen and (max-width: 768px) {
	.logo {
		margin-left: 100px;
	}
}

@media screen and (max-width: 576px) {
	.logo {
		margin-left: 50px;
	}
}

.slogan {
	background: #365486;
	color: white;
	padding: 1px;
	padding-right: 20px;
	border-radius: 5px;
	margin-right: 15px;
}

.slogan h2,
.slogan p {
	margin: 0;
}

.Simple {
	color: #7fc7d9;
	font-size: 35px;
}

.Flavor {
	color: white;
	font-size: 22px;
}

.bottom-nav {
	width: 100%;
	position: static;
	top: 1;
	left: 0;
	background-color: #7fc7d9;
	padding-bottom: 20px;
	padding-top: 15px;
}

.nav-btm-content {
	color: white;
	display: flex !important;
	flex-direction: row;
	align-items: center;
	font-size: 22px;
	color: #365486;
	gap: 65px;
	display: inline-block;
	padding-top: 8px;

	@media screen and (max-width: 767px) {
		gap: 10px;
		padding-top: 20px;
	}
}

.nav-btm-content h2 {
	margin-right: 10px;
}

.login-box {
	background-color: #5a8daf;
	padding: 5px 5px;
	position: relative;
	top: 0px;
	border-radius: 10px;
	margin-left: 1200px;

	@media screen and (max-width: 1800px) {
		margin-left: 10px;
	}

	@media screen and (max-width: 1600px) {
		margin-left: 100px;
	}

	@media screen and (max-width: 1400px) {
		margin-left: 50px;
	}

	@media screen and (max-width: 1200px) {
		margin-left: 50px;
	}

	@media screen and (max-width: 576px) {
		margin-left: 20px;
	}
}

.login-box img {
	display: inline-block;
	width: 35px;
	height: 40px;
	margin-right: 5px;
}

.login-box span {
	color: white;
}

.Home {
	padding-left: 175px;

	@media screen and (max-width: 767px) {
		padding-left: 20px;
	}
}

.contact {
	padding-top: 200px;
}

.login {
	margin-top: -50px;
	color: white;
	padding-bottom: 50px;
	opacity: 0;
}

.logo2 {
	margin-bottom: 0px;
	margin-left: 240px;
}

.custom-link {
	color: blue;

	font-weight: bold;
}

.custom-container {
	background-color: #ccc;

	padding: 20px;
	margin: 20px;
	border-radius: 10px;
	width: 665px;
	min-height: 400px;

	position: relative;
	padding-bottom: 150px !important;
}

.login {
	color: #333;
}

.logo-container {
	text-align: center;
	margin-bottom: 50px;
}

.custom-input {
	width: 541px;
	padding: 10px;
	margin: 5px auto;
	border: 1px solid #365486;
	border-radius: 0;
	background-color: #bebebe;

	color: black;

	text-align: left;
}

.custom-button {
	width: 541px;
	padding: 1px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;

	font-weight: bold;

	cursor: pointer;
	font-size: 25px;
}

.custom-button:hover {
	background-color: #004080;
}

.custom-container {
	margin-bottom: 50px;
}

.blue {
	font-size: 35px;
	color: #365486;
	font-weight: bold;
	margin-top: -15px;
}

.custom-label {
	text-align: left;
	padding-left: 40px;
}

.check-box {
	display: flex;
	align-items: center;
	padding-left: 20px;
	margin-bottom: 0;
}

.custom-checkbox {
	margin-right: 1px;
}

.data {
	margin-left: -75px;
}

.custom-input2 {
	padding: 10px;
	margin: 5px;
	margin-right: 10px;
	margin-left: 40px;
	border: 1px solid #365486;
	border-radius: 0;
	background-color: #bebebe;
	color: black;
	text-align: left;
	width: 244px;
}

@media screen and (max-width: 576px) {
	.custom-input2 {
		width: 100%;
		margin: 5px 0;
	}
}

.Enter {
	margin-right: 440px;
}

.Confirm {
	margin-left: 400px;
	margin-top: -20px;
	margin-bottom: 25px;
}

.selected {
	display: inline-block;
	position: relative;
}

.selected::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60%;
	height: 2px;
	background-color: #365486;
	margin-bottom: -10px !important;
	margin-left: 150px !important;
}

.selected2 {
	display: inline-block;
	position: relative;
}

.selected2::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60%;
	height: 3px;
	background-color: #365486;
	margin-bottom: -10px !important;
	margin-left: 30px !important;
}

.selected h2 {
	margin-bottom: 5px;
}

.custom-text {
	font-size: 25px;
	color: #365486;
	margin-left: 170px;
	margin-right: 170px;
	margin-bottom: -0px !important;
}

li {
	list-style-type: none;
}

.download.heart {
	color: #365486;
}

.container {
	display: flex;
	align-items: center;
}

.favourites {
	display: flex;
	align-items: center;
}

.icon-container {
	width: 204px;
	height: 204px;
	background-color: #365486;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 400px;
	margin-right: 20px;
	margin-top: 20px;
}

.User {
	font-size: 114px;
	color: white;
}

.User-text {
	font-size: 40px;
	margin-bottom: 100px;
}

.custom-button2 {
	width: 144px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.custom-button2:hover {
	background-color: #004080;
}

.custom-button3 {
	width: 79px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.custom-button3:hover {
	background-color: #004080;
}

.container {
	display: flex;
}

.box {
	width: 400px;
	height: 200px;
	background-color: #cce9f0;
	border-radius: 20px;
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.download,
.heart {
	font-size: 102px;
	color: #365486;
}

.box-content2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.text {
	color: #365486;
	font-size: 24px;
	font-weight: bold;
}

.Lorem {
	color: #365486;
	font-size: 17px;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	/* Adjust the gap as needed */
}

.fav {
	width: 290px;
	height: auto;
	object-fit: cover;
	margin: 5px;
}

.recipes-fav {
	font-size: 35px;
}

.data {
	margin-left: -75px;
}

.custom-input2 {
	padding: 10px;
	margin: 5px;
	margin-right: 10px;
	margin-left: 40px;
	border: 1px solid #365486;
	border-radius: 0;
	background-color: #bebebe;
	color: black;
	text-align: left;
	width: 244px;
}

@media screen and (max-width: 576px) {
	.custom-input2 {
		width: 100%;
		margin: 5px 0;
	}
}

.Enter {
	margin-right: 440px;
}

.Confirm {
	margin-left: 400px;
	margin-top: -20px;
	margin-bottom: 25px;
}

.selected {
	display: inline-block;
	position: relative;
}

.selected::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60%;
	height: 2px;
	background-color: #365486;
	margin-bottom: -10px !important;
	margin-left: 150px !important;
}

.selected2 {
	display: inline-block;
	position: relative;
}

.selected2::after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60%;
	height: 3px;
	background-color: #365486;
	margin-bottom: -10px !important;
	margin-left: 30px !important;
}

.selected h2 {
	margin-bottom: 5px;
}

.custom-text {
	font-size: 25px;
	color: #365486;
	margin-left: 170px;
	margin-right: 170px;
	margin-bottom: -0px !important;
}

li {
	list-style-type: none;
}

.download.heart {
	color: #365486;
}

.container {
	display: flex;
	align-items: center;
}

.favourites {
	display: flex;
	align-items: center;
}

.icon-container {
	width: 204px;
	height: 204px;
	background-color: #365486;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 400px;
	margin-right: 20px;
	margin-top: 20px;
}

.User {
	font-size: 114px;
	color: white;
}

.User-text {
	font-size: 40px;
	margin-bottom: 100px;
}

.custom-button2 {
	width: 144px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.custom-button2:hover {
	background-color: #004080;
}

.custom-button3 {
	width: 79px;
	margin: 10px auto;
	border: none;
	border-radius: 0px;
	background-color: #365486 !important;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
}

.custom-button3:hover {
	background-color: #004080;
}

.container {
	display: flex;
}

.box {
	width: 400px;
	height: 200px;
	background-color: #cce9f0;
	border-radius: 20px;
	margin: 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.download,
.heart {
	font-size: 102px;
	color: #365486;
}

.box-content2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.text {
	color: #365486;
	font-size: 24px;
	font-weight: bold;
}

.Lorem {
	color: #365486;
	font-size: 17px;
}

.grid-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
	/* Adjust the gap as needed */
}

.fav {
	width: 290px;
	height: auto;
	object-fit: cover;
	margin: 5px;
}

.recipes-fav {
	font-size: 35px;
}

.sub-file {
	margin-right: 50px;
}

.upload-rec {
	margin-top: 10px;
	color: #365486;
}

.input-image {
	background-image: url("../../../public/pencil2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
}

.input-field-test {
	background-color: #f2f2f2;
	width: 300px;
	margin: 10px;
	position: relative;
	right: 200px !important;
	border: 2px solid #d9d9d9;
	padding-left: 5px;
	height: 33px;
}

.hide-image {
	background-image: none !important;
}

.steps {
	color: #7fc7d9;
	margin-bottom: -5px;
	margin-top: 10px;
	position: relative;
	right: 200px !important;
}

.Instr {
	font-size: 24px !important;
	position: relative;
	right: 200px !important;
}

.file-test:hover {
	background-color: #b9b8b8;
	cursor: pointer;
}

.no {
	color: white;
}

.selected-image {
	width: 547px !important;
	height: 376px;
	margin-right: 200px;
	margin-left: -100px;
}

.file-upload-placeholder {
	width: 547px;
	height: 376px;
	background-color: #c1c1c1;
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 0px;
	margin-right: 150px;
	margin-left: -200px;
	background-image: url("../../../public/test.png");
	border: 2px solid rgb(74, 75, 75);
}

.input-field2 {
	background-color: #f2f2f2;
	width: 324px !important;
	margin: 10px;
	margin-left: 5px;
	margin-bottom: 10px; /* Adjusted margin */
	border: 2px solid #d9d9d9;
	padding-left: 5px;
	position: relative;
	left: 300px !important;
}

.text-positioning {
	position: relative;
	left: 90px !important;
}

.text-positioning2 {
	position: relative;
	left: 70px !important;
}

.sub-file {
	margin-right: 50px;
}

.upload-rec {
	margin-top: 100px;
	padding-top: 120px;
	color: #365486;
}

.input-image {
	background-image: url("../../../public/pencil2.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;
	/* Adjust the size of the image to fit within the input */
}

.input-field-test {
	background-color: #f2f2f2;
	width: 120px;
	margin: 10px;
	border: 2px solid #d9d9d9;
	padding-left: 5px;
}

.hide-image {
	background-image: none !important;
}

.steps {
	color: #7fc7d9;
	margin-bottom: -10px;
	margin-top: 10px;
}

.Instr {
	font-size: 24px !important;
}

/* 
 .file-test {
    width: 547px;
    height: 376px;
    background-color:#C1C1C1;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0px;
    margin: -10px;
    background-image: url('../../../public/test.png');
    border: 2px solid rgb(74, 75, 75); 
} */

.file-test:hover {
	background-color: #b9b8b8;
	cursor: pointer;
}

.no {
	color: white;
}

.selected-image {
	width: 547px;
	height: 376px;
	margin-right: 200px;
}

.file-upload-placeholder {
	width: 547px;
	height: 376px;
	background-color: #c1c1c1;
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 0px;
	margin-right: 300px;
	background-image: url("../../../public/test.png");
	border: 2px solid rgb(74, 75, 75);
}

.input-field2 {
	background-color: #f2f2f2;
	width: 324px !important;
	margin: 10px;
	margin-left: 635px;
	margin-bottom: 20px;
	border: 2px solid #d9d9d9;
	padding-left: 5px;
	margin-bottom: 10px;
}

.SUB-BUTTON {
	width: 510px;
	height: 48px;
	background-color: #365486 !important;
	margin-bottom: 50px;
	font-size: 30px;
	color: white;
	font-weight: bold;
}

.title-input {
	background-color: #f2f2f2;
	width: 514px;
	height: 48px;
	margin: 10px;
	border: 2px solid #d9d9d9;
	padding-left: 5px;
}

.description-input {
	background-color: #f2f2f2;
	width: 514px;
	height: 178px;
	margin: 10px;
	border: 2px solid #d9d9d9;
	padding-left: 5px;
	vertical-align: top !important;
	/* Align text at the top */
	line-height: 178px !important;
	/* Set line height equal to the height of the input field */
}

.extra-inputs {
	width: 91px;
	height: 26px;
	background-color: #f2f2f2;
	border: 2px solid #d9d9d9;
	margin: 10px;
}

.add-serving-input {
	width: 111px;
	height: 26px;
	background-color: #f2f2f2;
	border: 2px solid #d9d9d9;
	margin: 10px;
}

.vertical-spans span {
	display: block;
	margin-bottom: 10px;
	/* Adjust the margin-bottom as needed */
	color: white;
}

.sizing {
	color: #7fc7d9;
	font-size: 30px;
}

.hello {
	background: #365486;
	color: white;
	font-size: 20px;
	width: 220px;
	height: 40px;
	margin-top: 385px;
	margin-right: 40px;
}

.hello2 {
	background: #365486;
	color: white;
	font-size: 20px;
	width: 220px;
	margin-top: 10px;
	margin-right: 200px;
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thumbnail {
	margin-bottom: 450px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	right: 95px;
	position: relative;
}

.favorite {
	font-size: 30px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.favorite-text {
	font-size: 13;
	margin-bottom: 20px;
}

.ingre-text-style {
	font-size: 24px;
}

.text-tools {
	color: #365486;
}
.whitespace {
	font-size: 50px;
	color: white;
	user-select: none;
}

.blue-input-box {
	background: #365486;
	width: 28px;
	height: 29px;
	border-radius: 5px;
}

.Mag-glass-style {
	margin-top: 6px;
}

.search-field-styling {
	background-color: #dcf2f1;
	width: 500px;
	text-align: left !important;
	margin-bottom: 20px;
	margin-left: 10px;
}

.search-field-styling:focus {
	outline: none;
}

.extra-search-input {
	background-color: #dcf2f1;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 20px;
}

.search-bar-text {
	background-color: #dcf2f1;
	width: 222px;
	height: 40px;
	margin-right: -20px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 20px;
}

.search-container {
	margin-top: 30px;
}

.blue-bar {
	width: 100%;
	background-color: #004080;
	height: 87px;
}
